<style>
    #error {
    background-color: salmon;
    }
    #error h1 {
        color: white;
        text-align: center;
    }
    a {
        margin-left: 50%;
    }
</style>
<section id="error">
    <h1>
        User error {{error}}
    </h1>
    <a href="/">
        <button>Volver</button>
    </a>
</section>